@page "/"
@using static BlazorDraggableDemo.Components.Connector;

<PageTitle>Blazor Draggable Demo</PageTitle>
<div class="mt-2">
    <ConnectorExample Nodes="@plants" />
</div>
@for (int i = 0; i < plants.Count; i++)
{
    plants[i].Parent = plants[0];
    plants[i].Enfants.Add(plants[i]);
}
@code{
    List<Noeud> plants = new(){
        new Noeud {Enfants = new(), Name= "Main", IdNoeud = 0, X =362, Y = 280, R= 50, Dir=Direction.Bottom, Fill="#1aaee5" },
        };
        
}